## Data 602 - Final Project Proposal

Shoshana Farber

**1. Reseeach Question:**

Which movies/types of movies are most popular on IMDb?

**2. Justification:**

As an avid movie watcher, I am always looking for good movie recommendations. In doing this project, I am interested to see which types of movies are generally well rated and maybe put together a list of movies to watch from each genre.

**3. Data Sources:**

Data was sourced from Kaggle and can be found [here](https://www.kaggle.com/datasets/dk123891/10000-movies-data?select=data.csv).

**4. Libraries Potentially Being Used:**

- Pandas 
- Numpy 
- Matplotlib

**5. EDA and Summary Statistics:**

In [1]:
import pandas as pd

# import data
movies_df = pd.read_csv('https://raw.githubusercontent.com/ShanaFarber/cuny-sps/master/DATA_602/assignment7/sup-imdb-movies.csv', index_col=0)

# preview data
movies_df.head()

,Movie Name,Year of Release,Run Time in minutes,Movie Rating,Votes,MetaScore,Gross,Genre,Certification,Director,Stars,Description
0,The Shawshank Redemption,1994,142,9.3,2804443,82.0,28340000.0,['Drama'],R,['Frank Darabont'],"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...","['Over', 'the', 'course', 'of', 'several', 'ye..."
1,The Godfather,1972,175,9.2,1954174,100.0,134970000.0,"['Crime', ' Drama']",R,['Francis Ford Coppola'],"['Marlon Brando', 'Al Pacino', 'James Caan', '...","['Don', 'Vito', 'Corleone,', 'head', 'of', 'a'..."
2,Ramayana: The Legend of Prince Rama,1993,135,9.2,12995,NaN,NaN,"['Animation', ' Action', ' Adventure']",PG,"['Ram Mohan', 'Yûgô Sakô', 'Koichi Saski']","['Arun Govil', 'Nikhil Kapoor', 'Edie Mirman',...","['An', 'anime', 'adaptation', 'of', 'the', 'Hi..."
3,The Chaos Class,1975,87,9.2,42231,NaN,NaN,"['Comedy', ' Drama']",NaN,['Ertem Egilmez'],"['Kemal Sunal', 'Münir Özkul', 'Halit Akçatepe...","['Lazy,', 'uneducated', 'students', 'share', '..."
4,The Dark Knight,2008,152,9.0,2786129,84.0,534860000.0,"['Action', ' Crime', ' Drama']",PG-13,['Christopher Nolan'],"['Christian Bale', 'Heath Ledger', 'Aaron Eckh...","['When', 'the', 'menace', 'known', 'as', 'the'..."

In [2]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Movie Name           10000 non-null  object
 1   Year of Release      10000 non-null  int64
 2   Run Time in minutes  10000 non-null  int64
 3   Movie Rating         10000 non-null  float64
 4   Votes                10000 non-null  int64
 5   MetaScore            7974 non-null   float64
 6   Gross                7085 non-null   float64
 7   Genre                10000 non-null  object
 8   Certification        9631 non-null   object
 9   Director             10000 non-null  object
 10  Stars                10000 non-null  object
 11  Description          10000 non-null  object
dtypes: float64(3), int64(3), object(6)
memory usage: 1015.6+ KB

`MetaScore`, `Gross`, and `Certification` all have null values.

In [3]:
movies_df.describe()

,Year of Release,Run Time in minutes,Movie Rating,Votes,MetaScore,Gross
count,10000.000000,10000.000000,10000.000000,1.000000e+04,7974.000000,7.085000e+03
mean,2001.413600,110.725000,6.727020,9.279738e+04,59.171432,4.017500e+07
std,18.597804,22.053073,0.821264,1.716509e+05,17.268795,6.748658e+07
min,1915.000000,45.000000,4.900000,1.000200e+04,7.000000,0.000000e+00
25%,1994.000000,96.000000,6.100000,1.685175e+04,47.000000,2.340000e+06
50%,2007.000000,107.000000,6.700000,3.417950e+04,60.000000,1.693000e+07
75%,2015.000000,121.000000,7.300000,9.154600e+04,72.000000,4.864000e+07
max,2023.000000,439.000000,9.300000,2.804443e+06,100.000000,9.366600e+08